@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-image: url(../source/banner.jpg);
    background-size: cover;
    font-family: "Inter", sans-serif;
}

main{
    background-color: #173c58df;
    margin:auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000000;
}

a{
    text-decoration: none;
}
h1{
    font-size: 2em;
    font-weight: 300;
    color: white;
    text-align: center;
    display: block;
    text-shadow: 2px 2px 4px #000000;
}

input{
    background-color: white;
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

button{
    background-color: #FF4800;
    color: white;
    margin: auto;
    display: block;
    width: 610px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2em;
    border: none;
    box-shadow: 2px 2px 4px #000000;
}

.resultado{
    background-color: white;
    border-radius: 20px;
    width: 600px;
    margin: auto;
}

.tratamento-resultado{
    list-style-type: decimal;
    padding: 20px;
    margin: 20px;
}

.logo{
    width: 100px;
    display: block;
    margin: 20px;
}
